/WebLoginKOPIO/.nb-gradle/
/WebLogin/.nb-gradle/
/MockitoDemo/.nb-gradle/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/build/
/Tennis/.nb-gradle/
/Tennis/build/
/QueryLanguage/.nb-gradle/
/QueryLanguage/build/